<header class="blog-header">
  <section>
    <div class="container text-center">
      <div class="row animated fadeInDown delay-01s">
        <a href="/" alt="Back to the homepage"><img src="/img/logo.png" /></a>
      </div>
    </div>
  </section>
</header>

<section class="animated fadeInUp delay-05s blog-post">

  <div class="col-md-10 col-md-offset-1">
    <h1 class="arrow">$title$</h1>

    $body$

  </div>

</section>

<section class="section-padding">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <a href="/" class="learn-more-btn">Back to the homepage</a>
    </div>
  </div>
</section>
