<div class="container mx-auto">

<section class="px-4 py-4">

  <div class="col-md-10 col-md-offset-1">
    <p><span class="text-xl font-extrabold uppercase tracking-wider text-teal-600">$title$</span> <span class="text-xs text-gray-600">$date$</span></span></p>

    <div class="blog-post">$body$</div>

  </div>

</section>

<section>
  <div class="mb-5">
    <div class="mx-5 my-5">
        

        <div class="flex items-center">
          <img src="/img/mark.jpg" class="rounded-full" alt="Mark de Jong" />
          <div class="ml-4">
            <h2 class="font-semibold text-gray-700">Mark de Jong</h2>
            <p class="text-xs text-gray-600">Software consultant</p>

            <ul class="mt-2 social-buttons">
                <li><a href="mailto:mark@vectos.net" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/mark-de-jong-a808b7167" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/mark_dj" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://github.com/Fristi" class="social-btn"><i class="fa fa-github"></i></a></li>
                </ul>
          </div>
        </div>

       
    </div>
  </div>


</section>
</div>