<header class="blog-header">
  <section>
    <div class="container text-center">
      <div class="row animated fadeInDown delay-01s">
        <a href="/" alt="Back to the homepage"><img src="/img/logo.png" /></a>
      </div>
    </div>
  </section>
</header>

<section class="animated fadeInUp delay-05s blog-post">

  <div class="col-md-10 col-md-offset-1">
    <h1 class="arrow">$title$</h1>
    <div class="info">$date$</div>

    $body$

  </div>

</section>

<section>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <h1 class="arrow">Written by</h1>
      <div class="wp5 animated fadeInUp">
        <img src="/img/mark.jpg" class="author-clip" alt="Mark de Jong" />
        <h2>Mark de Jong</h2>
        <p>Scala/Haskell Software Developer - Specialised in web-apps and high performance backend systems.</p>
        <div class="social">
          <ul class="social-buttons">
            <li><a href="mailto:mark@vectos.net" class="social-btn"><i class="fa fa-envelope"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/mark-de-jong-a808b7167" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/mark_dj" class="social-btn"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://github.com/Fristi" class="social-btn"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>


</section>

<section class="section-padding">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <a href="/" class="learn-more-btn">Back to the homepage</a>
    </div>
  </div>
</section>
